{:kotoba.app/id "cloud.itonami.isic-6130", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqw7j2mecaqdmuvcludmsrvde7vlvqhugvtohvah3yuuhwv5wn3i", :kotoba.app/embed-url "ipfs://bafkreihqw7j2mecaqdmuvcludmsrvde7vlvqhugvtohvah3yuuhwv5wn3i", :published {:archive "https://kotobase.net/ipfs/bafkreihqw7j2mecaqdmuvcludmsrvde7vlvqhugvtohvah3yuuhwv5wn3i", :size 73093, :put-status 201, :get-status 200, :at "2026-08-15T13:40:25.936Z"}}
